<div  class="sign-in-item">
    <form action="POST" class="form">
      <h1>Sign in</h1>
      <p>Please fill out this form sign into your account</p>
      <div class="input-item">
        <input type="text" placeholder="email" />
      </div>
      <div class="input-item">
        <input type="text" placeholder="password" />
      </div>
      <div class="input-item">
        <input type="checkbox" name="" id="" />
        <label for=""><b>remember me</b></label>
      </div>
      <div class="">
        <button>Sign In</button>
      </div>
    </form>
  </div>
