<div class="row container-body">
  <div class="map-item"></div>
  <!-- <h1>Connecticut, Real Estate and Homes for sale</h1> -->
  <div *ngFor="let card of cardCount" class="card" style="width: 18rem">
    <!-- once the user has clicked on the house image, it will prompt them to a new screen where it will show all the rooms, details about the house etc. -->
    <img class="card-img-top" src="{{ this.jImg }}" alt="Card image cap" />
    <div class="card-body">
      <h2>House for sale</h2>
      <p>500,000$</p>
      <p>4 Beds 2 Baths 4,000 sqft</p>
      <p>Address: 420 Cherry Hill</p>
      <div class="">
        <!-- <button>Email Agent</button> -->
      </div>
      <div (click)="switchImage()" class="btn btn-primary">email agent</div>
    </div>
  </div>
</div>
