h1 {
  font-size: 18px;
  padding-left: 3.5rem;
  font-family: sans-serif;
}

h2 {
font-size: 18px;
text-align: center;
font-family: 'Courier New', Courier, monospace;
}

.container-body{
justify-content: space-evenly;
}

.card-header {
  display: flex;
}

.card {
  margin: 1rem;
}

.card-img-top {
  padding-top: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body > p {
  font-size: 14px;
}

button {
  border-radius: 5px;
}

.btn {
  background-color: black;
}