h1 {
  text-align: center;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.filtered-items {
  padding-left: 1.5rem;
}

.container-body {
  justify-content: space-evenly;
}

.card-header {
  display: flex;
}

.card {
  margin: 1rem;
}


.card-body > p {
  font-size: 14px;
}


.card-img-top {
  padding-top: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 5px;
  background-color: blue;
}


