<!--  *ngIf="!signingIn"  -->
<div class="sign-in-item">
  <form action="POST" class="form">
    <h1>Sign up</h1>
    <p>Please fill out this form to create an account</p>
    <div class="input-item">
      <input type="text" placeholder="first name" />
    </div>
    <div class="input-item">
      <input type="text" placeholder="last name" />
    </div>
    <div class="input-item">
      <input type="text" placeholder="email" />
    </div>
    <div class="input-item">
      <input type="text" placeholder="password" />
    </div>
    <div class="input-item">
      <input type="checkbox" name="" id="" />
      <label for=""><b>remember me</b></label>
    </div>
    <p>By creating this acount you agree to our Terms and Privacy</p>
      <button>Sign Up</button>
  </form>
</div>
